[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]

[packages]
numpy = "*"
matplotlib = "*"
pandas = "*"
sklearn = "*"
scipy = "*"

[requires]
python_version = "3.6"
